node-red/flows.json
[
    {
        "id": "b9dd6f3a.9f86b",
        "type": "tab",
        "label": "Arduino Serial",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9f19090.bb78df8",
        "type": "tab",
        "label": "Arduino Firmata",
        "disabled": true,
        "info": ""
    },
    {
        "id": "edf119a8.7f5ce8",
        "type": "tab",
        "label": "Arduino MQTT",
        "disabled": true,
        "info": ""
    },
    {
        "id": "25f69b8f.89e604",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9317e5dc.e98448",
        "type": "arduino-board",
        "z": "",
        "device": "COM7"
    },
    {
        "id": "8c73a87b.2fa998",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "189857a1.8a3938",
        "type": "ui_group",
        "z": "",
        "name": "Arduino Serial",
        "tab": "8c73a87b.2fa998",
        "disp": true,
        "width": "6"
    },
    {
        "id": "6e42de2a.a9375",
        "type": "serial-port",
        "z": "",
        "serialport": "COM7",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    },
    {
        "id": "879d94ab.2d8a98",
        "type": "ui_group",
        "z": "",
        "name": "Arduino Firmata",
        "tab": "8c73a87b.2fa998",
        "disp": true,
        "width": "6"
    },
    {
        "id": "59ee8ac7.042ac4",
        "type": "mqtt-broker",
        "z": "",
        "broker": "m2m.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "84511310.3a501",
        "type": "ui_group",
        "z": "",
        "name": "Arduino MQTT",
        "tab": "8c73a87b.2fa998",
        "disp": true,
        "width": "6"
    },
    {
        "id": "a137dc9e.1a9e9",
        "type": "arduino in",
        "z": "9f19090.bb78df8",
        "name": "Arduino light sensor",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "9317e5dc.e98448",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "1f3de705.3a2559"
            ]
        ]
    },
    {
        "id": "1f3de705.3a2559",
        "type": "ui_gauge",
        "z": "9f19090.bb78df8",
        "name": "",
        "group": "879d94ab.2d8a98",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 360,
        "y": 40,
        "wires": []
    },
    {
        "id": "c8505abb.8069b8",
        "type": "ui_slider",
        "z": "9f19090.bb78df8",
        "name": "",
        "label": "LED dimmer",
        "group": "879d94ab.2d8a98",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "86c559cb.916368"
            ]
        ]
    },
    {
        "id": "86c559cb.916368",
        "type": "arduino out",
        "z": "9f19090.bb78df8",
        "name": "Arduino LED",
        "pin": "3",
        "state": "PWM",
        "arduino": "9317e5dc.e98448",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "c94c9fd.0b28a6",
        "type": "comment",
        "z": "b9dd6f3a.9f86b",
        "name": "Uses node-red-node-serialport",
        "info": "Note that Arduino Serial.println sends \\r\\n at the end of a line. These need to be filtered out.",
        "x": 137.5,
        "y": 45.44999694824219,
        "wires": []
    },
    {
        "id": "6e28fff9.5ed9a",
        "type": "serial in",
        "z": "b9dd6f3a.9f86b",
        "name": "Arduino light sensor",
        "serial": "6e42de2a.a9375",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "d3f8f53a.341268"
            ]
        ]
    },
    {
        "id": "d3f8f53a.341268",
        "type": "function",
        "z": "b9dd6f3a.9f86b",
        "name": "Remove line breaks",
        "func": "msg.payload = msg.payload.replace(/(\\r\\n|\\n|\\r)/gm,\"\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "551b6076.efbc2"
            ]
        ]
    },
    {
        "id": "551b6076.efbc2",
        "type": "ui_gauge",
        "z": "b9dd6f3a.9f86b",
        "name": "",
        "group": "189857a1.8a3938",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "74dc9d33.b4e104",
        "type": "ui_slider",
        "z": "b9dd6f3a.9f86b",
        "name": "",
        "label": "LED dimmer",
        "group": "189857a1.8a3938",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "255",
        "step": "1",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "56937cb2.47d024"
            ]
        ]
    },
    {
        "id": "56937cb2.47d024",
        "type": "debounce",
        "z": "b9dd6f3a.9f86b",
        "time": "100",
        "name": "",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "1f5d90bc.1a92af"
            ]
        ]
    },
    {
        "id": "1f5d90bc.1a92af",
        "type": "serial out",
        "z": "b9dd6f3a.9f86b",
        "name": "Arduino LED",
        "serial": "6e42de2a.a9375",
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "42c9f595.083bfc",
        "type": "arduino in",
        "z": "9f19090.bb78df8",
        "name": "Arduino button",
        "pin": "2",
        "state": "INPUT",
        "arduino": "9317e5dc.e98448",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "1e81f2a4.e44d3d"
            ]
        ]
    },
    {
        "id": "1e81f2a4.e44d3d",
        "type": "ui_switch",
        "z": "9f19090.bb78df8",
        "name": "",
        "label": "Button pressed",
        "group": "879d94ab.2d8a98",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "0",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "x": 360,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "63f0abc.476de54",
        "type": "arduino in",
        "z": "edf119a8.7f5ce8",
        "name": "Arduino light sensor",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "9317e5dc.e98448",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "dff284e.c1c0378"
            ]
        ]
    },
    {
        "id": "3955a3b9.a0b1cc",
        "type": "ui_gauge",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "group": "84511310.3a501",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light intensity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1024",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "48074ddc.a38f44",
        "type": "ui_slider",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "label": "LED dimmer",
        "group": "84511310.3a501",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "255",
        "step": 1,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "9a0a70a1.fde3f"
            ]
        ]
    },
    {
        "id": "a40905ca.11edb8",
        "type": "arduino out",
        "z": "edf119a8.7f5ce8",
        "name": "Arduino LED",
        "pin": "3",
        "state": "PWM",
        "arduino": "9317e5dc.e98448",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "445db661.14bfa8",
        "type": "arduino in",
        "z": "edf119a8.7f5ce8",
        "name": "Arduino button",
        "pin": "2",
        "state": "INPUT",
        "arduino": "9317e5dc.e98448",
        "x": 100,
        "y": 320,
        "wires": [
            [
                "7e390502.d66e6c"
            ]
        ]
    },
    {
        "id": "3eac992b.03f966",
        "type": "ui_switch",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "label": "Button pressed",
        "group": "84511310.3a501",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 740,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "74221607.b6bfe8",
        "type": "mqtt out",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "topic": "innoexp2/nano_rovale/light",
        "qos": "",
        "retain": "",
        "broker": "59ee8ac7.042ac4",
        "x": 500,
        "y": 40,
        "wires": []
    },
    {
        "id": "be5dbe3e.b9b26",
        "type": "mqtt in",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "topic": "innoexp2/nano_rovale/light",
        "qos": "0",
        "broker": "59ee8ac7.042ac4",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "3955a3b9.a0b1cc"
            ]
        ]
    },
    {
        "id": "dff284e.c1c0378",
        "type": "throttle",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "throttleType": "time",
        "timeLimit": "1",
        "timeLimitType": "seconds",
        "countLimit": 0,
        "blockSize": 0,
        "locked": false,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "74221607.b6bfe8"
            ]
        ]
    },
    {
        "id": "d698c6.e484f738",
        "type": "mqtt out",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "topic": "innoexp2/nano_rovale/dimmer",
        "qos": "",
        "retain": "",
        "broker": "59ee8ac7.042ac4",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "a58043b7.8d962",
        "type": "mqtt in",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "topic": "innoexp2/nano_rovale/dimmer",
        "qos": "2",
        "broker": "59ee8ac7.042ac4",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "a40905ca.11edb8"
            ]
        ]
    },
    {
        "id": "9a0a70a1.fde3f",
        "type": "debounce",
        "z": "edf119a8.7f5ce8",
        "time": "500",
        "name": "",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "d698c6.e484f738"
            ]
        ]
    },
    {
        "id": "dfb5462f.cd80c8",
        "type": "mqtt out",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "topic": "innoexp2/nano_rovale/button",
        "qos": "",
        "retain": "",
        "broker": "59ee8ac7.042ac4",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "766011b.cf25af",
        "type": "mqtt in",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "topic": "innoexp2/nano_rovale/button",
        "qos": "2",
        "broker": "59ee8ac7.042ac4",
        "x": 490,
        "y": 380,
        "wires": [
            [
                "3eac992b.03f966",
                "58b77a7f.d57ef4"
            ]
        ]
    },
    {
        "id": "58b77a7f.d57ef4",
        "type": "debug",
        "z": "edf119a8.7f5ce8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 730,
        "y": 420,
        "wires": []
    },
    {
        "id": "7e390502.d66e6c",
        "type": "function",
        "z": "edf119a8.7f5ce8",
        "name": "0 = pressed",
        "func": "msg.payload = msg.payload == 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 320,
        "wires": [
            [
                "dfb5462f.cd80c8"
            ]
        ]
    }
]